:root {
    --card-size-unit: 1.2vw;
    --white: #fff;
    --black: #000;
    --red: rgb(255, 0, 0);
}

body {
    background-color: rgba(14, 68, 4, 1);
    margin: 0;
}

::selection {
    background-color: inherit;
    color: inherit;
}

.deck {
    display: flex;
    flex-wrap: wrap;
}


/* MAIN CARD ELEMENTS */

tarot-card {
    margin: .5%;

    position: relative;

    --card-text-color: var(--black);

/* ------------------- */
/* Flip transformation */
    perspective: 800px;
    -webkit-perspective: 800px;

    transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;

    transition-duration: .4s;
    transform-style: preserve-3d;
}

tarot-card[isFlipped='true'] {
    transform: rotateY(180deg);
}

tarot-card-front,
tarot-card-back {
	backface-visibility: hidden;
}

tarot-card-back {
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotateY(180deg);
}
/* Flip transformation */
/* ------------------- */

tarot-card-outer-border {
    display: block;

    border-radius: calc(.3 * var(--card-size-unit));
    border: calc(.2 * var(--card-size-unit)) solid var(--white);
    background-color: var(--white);
}

tarot-card-container {
    position: relative;
    display: block;
    width: calc(calc(5.3 * var(--card-size-unit)) + .5px );
    height: calc(10.7 * var(--card-size-unit));

    border-radius: calc(.3 * var(--card-size-unit));
    border: calc(.2 * var(--card-size-unit)) solid var(--black);
}

tarot-card-half {
    display: block;
    width: calc(calc(5.3 * var(--card-size-unit)) + .5px );
    height: calc(.5 * 10.7 * var(--card-size-unit));

    font-size: calc(1.5 * var(--card-size-unit));
    font-weight: bolder;
    color: var(--card-text-color);

    background-size: 5900% 70%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    
}

tarot-card-half > span.card-value {
    background-color: rgba(0, 0, 0, 0)
}

tarot-card-back * {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* SUIT SYMBOLS */

tarot-card-suit-symbol {
    position: absolute;

    font-size: calc(2 * var(--card-size-unit));
    color: var(--card-text-color);

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

tarot-card-suit-symbol > svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

tarot-card-suit-symbol[class*='center'] {
    /* Start in the center so 
    other selectors can overwrite it*/
    left: 37.5%;
    right: 37.5%;
}

tarot-card-suit-symbol[class^='center'] {
    /* Start in the center so 
    other selectors can overwrite it*/
    top: 42.5%;
    bottom: 42.5%;
}

tarot-card-suit-symbol[class*='-left'] {
    left: 12.5%;
    right: 62.5%;
}

tarot-card-suit-symbol[class*='-right'] {
    left: 62.5%;
    right: 12.5%;
}

tarot-card-suit-symbol[class^='top-'] {
    top: 12.5%;
    bottom: 72.5%;
}

tarot-card-suit-symbol[class^='center-top'] {
    top: 27.5%;
    bottom: 57.5%;
}

tarot-card-suit-symbol[class^='center-bottom'] {
    top: 57.5%;
    bottom: 27.5%;
}

tarot-card-suit-symbol[class^='bottom-'] {
    top: 72.5%;
    bottom: 12.5%;
}

tarot-card-suit-symbol.center-right svg,
tarot-card-suit-symbol[class*='bottom'] svg {
    transform: scale(-1, -1);
}

/* SPECIAL CASES */

tarot-card[suit="♦"], tarot-card[suit="♥"] {
    --card-text-color: var(--red);
}

tarot-card[suit="T"] tarot-card-half {
    text-align: center;
}

tarot-card:not([suit="T"]) tarot-card-half {
    text-indent: calc(.2 * var(--card-size-unit));
}

tarot-card-half.lower-half {
    transform: scale(-1, -1);
}
