:root {
    --card-size-unit: 3vw;
    --white: #fff;
    --black: #000;
    --red: #f00;
}

body {
    background-color: rgb(14, 68, 4);
    margin: 0;
}

.deck {
    display: flex;
    flex-wrap: wrap;
}

#svg-container {
    display: none;
}


/* MAIN CARD ELEMENTS */

card-wrapper {
    margin: .5%;

    border-radius: calc(.3 * var(--card-size-unit));
    border: calc(.2 * var(--card-size-unit)) solid var(--white);
    background-color: var(--white);
    
    --card-color: var(--black);
}

card {
    position: relative;
    display: block;
    width: calc(calc(5.3 * var(--card-size-unit)) + .5px );
    height: calc(10.7 * var(--card-size-unit));

    border-radius: calc(.3 * var(--card-size-unit)) calc(.3 * var(--card-size-unit));
    border: calc(.2 * var(--card-size-unit)) solid var(--black);
}

card-half {
    display: block;
    width: calc(calc(5.3 * var(--card-size-unit)) + .5px );
    height: calc(.5 * 10.7 * var(--card-size-unit));

    font-size: calc(1.5 * var(--card-size-unit));
    font-weight: bolder;
    color: var(--card-color);

    background-position-y: bottom;
    background-size: 100% calc(calc(.5 * 10.7 * var(--card-size-unit)) - calc(2 * var(--card-size-unit)));
    background-repeat: no-repeat;
}

card-half .card-value {
    background-color: var(--white);
}


/* SUIT SYMBOLS */

suit-symbol {
    position: absolute;

    font-size: calc(2 * var(--card-size-unit));
    color: var(--card-color);

    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: 0;
}

suit-symbol svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

suit-symbol[class*='center'] {
    /* Start in the center so 
    other selectors can overwrite it*/
    left: 37.5%;
    right: 37.5%;
}

suit-symbol[class^='center'] {
    /* Start in the center so 
    other selectors can overwrite it*/
    top: 42.5%;
    bottom: 42.5%;
}

suit-symbol[class*='-left'] {
    left: 12.5%;
    right: 62.5%;
}

suit-symbol[class*='-right'] {
    left: 62.5%;
    right: 12.5%;
}

suit-symbol[class^='top-'] {
    top: 12.5%;
    bottom: 72.5%;
}

suit-symbol[class^='center-top'] {
    top: 27.5%;
    bottom: 57.5%;
}

suit-symbol[class^='center-bottom'] {
    top: 57.5%;
    bottom: 27.5%;
}

suit-symbol[class^='bottom-'] {
    top: 72.5%;
    bottom: 12.5%;
}

suit-symbol.center-right svg,
suit-symbol[class*='bottom'] svg {
    transform: scale(-1, -1);
}

/* SPECIAL CASES */

card[suit="♦"], card[suit="♥"] {
    --card-color: var(--red);
}

card[suit="T"] card-half {
    text-align: center;
}

card:not([suit="T"]) {
    text-indent: calc(.2 * var(--card-size-unit));
}

card-half.half-1 {
    transform: scale(-1, -1);
}
