body {
    margin: 0px;
    height: 100lvh;
    width: 100lvw;

    background-color: blue;
}

invalid-screen-overlay {
    display: none;
}

@media (max-aspect-ratio: 1/1), (min-aspect-ratio: 3.5/1) {
    invalid-screen-overlay {
        display: block;
        height: 100dvh;
        width: 100dvw;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(100, 100, 100, 0.8);

        color: #fff;
        text-align: center;
        font: small-caps bold 24px/1 sans-serif;;
        font-size: xx-large;
    }
}

tarot-table {
    position: relative;
    display: block;
    height: 100dvh;
    width: 100dvw;

    background: green;  /* WIP: textured? real img? */
}

/***************/
/* OTHERS HAND */

other-player-hand {
    position: absolute;
}

other-player-profile-picture {
    display: block;
	box-sizing: border-box;

    width: 8dvw;
    aspect-ratio: 1/1;

    transform: translate(-50%, -50%);

	border: 0.25dvw solid transparent;
	border-radius: 50%;

	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	background-image: var(--profile-picture), linear-gradient(to bottom right, #000000, #171ab8, #7c9bff);
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

other-player-username {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;

    width: 0px;
    height: 0px;

    font-size: small;
    text-transform: uppercase;

    transform: scaleX(-1);
}

other-player-username > span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    line-height: 9dvw;
    font-weight: bolder;
    color: #000;
}

/* OTHERS HAND */
/***************/

/************/
/* OWN HAND */

own-hand {
    position: absolute;
    left: 24%;
    right: 24%;
    bottom: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    overflow-y: clip;
}

own-hand-upper-row tarot-card {
    transform: translateY(40%);
}

.own-hand-card-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.own-hand-card-row > tarot-card {
    position: unset;
    width: 8%;
}

.own-hand-card-row > tarot-card:last-child {
    width: unset;
}

/* OWN HAND */
/************/

card-stack {
    position: absolute;
    top: 30%; left: 50%; right: 50%; bottom: 70%;
    transform: scale(0.85);
}

card-stack > tarot-card {
    transform-origin: 0% 0%;
}